@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

h1 {
    margin-left: 40px;
    font-family: "Jaldi" sans-serif;
    font-size: 30px;
}

#nav a {
    color: white;
}

.hovered::before {
    opacity: 1 !important;
}

#nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: #2090F0;
    line-height: 80px;
    color: white;
    z-index: 100;
}

#menus {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    list-style: none;

}

#image-full {
    margin-top: 80px;
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    overflow: hidden;
}
#image-full img {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

#image-full:hover #hover-image {
    opacity: 1;
}
#image-full:hover #Qui-somme-nous::before {
    opacity: 1 !important;
}
#hover-image {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.647);
    padding: 200px;
    backdrop-filter: blur(5px);
    transition: all 0.5s ease-in-out;
}
#Qui-somme-nous::before {
    opacity: 0;
    content: "";
    position: absolute;
    width: 100%;
    height: 200px ;
    background-color: rgba(0, 0, 0, 0.647);
    z-index: -1;
    transition: all 0.5s ease-in-out;
  }
  
#hover-image p {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Jaldi", sans-serif;
}

.clipped_section {
    width: 100%;
    height: 500px !important;
    background-color: #2090F0;
    clip-path: polygon(0 0, 100% 15%, 100% 85%, 0 100%);
    color: white;
    position: relative;
}
.clipped_section h2 {
    top: 30% !important;
}
.section-text {
    position: relative;
    height: 300px;
}
.section-text h2 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.section-text p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.flex-rigth {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: row-reverse;
    flex-direction: column;
}
.flex-rigth h2 {
    margin-bottom: 20px;
}

spline-viewer {
    aspect-ratio: 1/1;
    width: 50vw;
}

#product .flex {
    justify-content: space-between;
}

#product img {
    width: 45%;
    display: block;
    position: relative;
}
#product .flex {
    position: relative;
}
#product .flex::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    z-index: 10;
    width: 3px;
    background-color: #2090F0;
    border-radius: 20px;
}
#product {
    padding: 30px 0;
}

#product p {
    color: black;
    width: 45%;
    padding: 60px;
}

footer {
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    line-height: 100px;
    background-color: #2090F0;
    color: white;
}